[submodule "triton"]
	path = triton
	url = https://github.com/triton-lang/triton.git
[submodule "triton-dejavu"]
	path = triton-dejavu
	url = https://github.com/IBM/triton-dejavu.git
[submodule "vllm"]
	path = vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "third_party/fmwork"]
	path = third_party/fmwork
	url = https://github.com/IBM/fmwork.git
